/*
 * Fira Sans - For headings and nav.
 */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans'), url("fonts/FiraSans-Regular.woff") format('woff');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Fira Sans Medium'), url("fonts/FiraSans-Medium.woff") format('woff');
}

/*
 * Source Serif Pro - For body text.
 *
 * Using Heuristica for italics.
 */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Serif Pro'), url("fonts/SourceSerifPro-Regular.woff") format('woff');
}
@font-face {
  font-family: 'Source Serif Pro';
  font-style: italic;
  font-weight: 400;
  src: local('Heuristica Italic'), url("fonts/Heuristica-Italic.woff") format('woff');
}
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Serif Pro Bold'), url("fonts/SourceSerifPro-Bold.woff") format('woff');
}

/*
 * Source Code Pro for code and other monospace text.
 */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), url("fonts/SourceCodePro-Regular.woff") format('woff');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Code Pro Semibold'), url("fonts/SourceCodePro-Semibold.woff") format('woff');
}

.text-center { text-align: center; }

html {
  font-family: "Source Serif Pro", "serif";

  -moz-font-feature-settings: "kern", "liga";
  -webkit-font-feature-settings: "kern", "liga";
  font-feature-settings: "kern", "liga";
}

body > footer, main {
  max-width: 96ch;
}

nav {
  font-family: "Fira Sans", "sans-serif";
}

nav ul {
  margin: 0 0;
}

h1, h2, h3 {
  -moz-font-feature-settings: "kern", "liga", "smcp";
  -webkit-font-feature-settings: "kern", "liga", "smcp";
  font-feature-settings: "kern", "liga", "smcp";
}

h4, h5, h6 {
  -moz-font-feature-settings: "kern", "liga";
  -webkit-font-feature-settings: "kern", "liga";
  font-feature-settings: "kern", "liga";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Fira Sans", "sans-serif";
  font-weight: 500;
  color: black;
}

.project-category {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* (30ch + 2ch) * 3 (projects per row) = 96ch (max-width of body) */
.project {
  width: 30ch;
  padding-right: 2ch;
}

.project p {
  margin-top: 0;
}
