<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} | {{ site.name }}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">

    <link rel="openid.server" href="http://www.myopenid.com/server" />
    <link rel="openid.delegate" href="http://scott-olson.myopenid.com/" />
    <link rel="openid2.local_id" href="http://scott-olson.myopenid.com" />
    <link rel="openid2.provider" href="http://www.myopenid.com/server" />
    <meta http-equiv="X-XRDS-Location" content="http://www.myopenid.com/xrds?username=scott-olson.myopenid.com" />
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col-sm-offset-2 col-sm-10">
          <h1>{{ page.title }}</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2">
          <ul class="nav nav-pills nav-stacked text-right">
            <li><a href="/">About Me</a></li>
            <li><a href="/projects.html">Projects</a></li>
            <li><a href="/resume.html">Résumé</a></li>
            <li><a href="#">GitHub</a></li>
            <li><a href="#">LinkedIn</a></li>
            <li><a href="#">Twitter</a></li>
          </ul>
        </div>

        <div class="col-sm-10">
          {{ content }}
        </div>
      </div>

      <hr>

      <div class="row">
        <footer class="col-sm-offset-2 col-sm-10">
          <small class="text-muted">&copy; 2013 Scott Olson. All rights reserved.</small>
        </footer>
      </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
