---
nav:
  pages:
    - name: Home
      href: /

    - name: Projects
      href: /projects.html

    - name: Résumé
      href: /scott-olson-resume.pdf

  links:
    - name: GitHub
      href: https://github.com/tsion

    - name: LinkedIn
      href: https://ca.linkedin.com/in/olsons

    - name: Twitter
      href: https://twitter.com/tsion

    - name: Email
      href: mailto:scott@solson.me

    - name: Keybase
      href: https://keybase.io/tsion
---
<!DOCTYPE html>
<meta charset="utf-8">

{% if page.title %}
  <title>{{ page.title }} · {{ site.name }}</title>
{% else %}
  <title>{{ site.name }}</title>
{% endif %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="//writ.cmcenroe.me/1.0.2/writ.min.css">
<link rel="stylesheet" href="/css/main.css">

<header>
  <h1>{{ site.name }}</h1>

  <nav>
    <ul>
      {% for p in page.nav.pages %}
        <li><a href="{{ p.href }}">{{ p.name }}</a></li>
      {% endfor %}
    </ul>
  </nav>

  <nav>
    <ul>
      {% for p in page.nav.links %}
        <li><a href="{{ p.href }}">{{ p.name }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</header>

<main>
  {{ content }}
</main>
